body {
    background-color: rgb(215, 204, 240);
    margin: 20px 10px 20px 20px;
    padding: 1px;
    border: 4px solid black;
    height: 2000px;
  background-image: url("img3.jpeg");
   background-size: cover; 
     background-position: center;
  }
  
  .mainboard {
    background-color: rgb(189, 186, 186);
    border: 2px solid black;
    margin: 20px;
    height: 1200px;
  }
  
  #resume-builder-header {
    text-align: center;
    margin-bottom: 40px;
    /* background-color: rgb(178, 160, 221); */
    margin-top: 100px;
  }
  .cv-form {
    /* background-color: rgb(178, 160, 221); */
    height: 1400px;
  }
  
  
  #about_msg {
    display: block;
    background-color: black;
    margin: 10px 0px 10px 0px;
    color: white;
    height: 40px;
    font-size: 25px;
    padding-top: 5px;
    padding-left: 5px;
    margin: 30px 5px 10px 5px;
    text-align: center;
  }
  
  .about_section1 input {
    height: 30px;
    width: 400px;
    font-size: 25px;
  }
  
  .about_section2 input {
    height: 30px;
    width: 400px;
    font-size: 20px;
  }
  
  #gender{
    
    height: 30px;
    width: 90px;
    font-size: 20px;
    font-size: 30px;
    display: flex;
  }
  
  #Gender{
    margin-left: 30px;
  }
  
   .about_section1 {
    display: inline-flex;
    align-items: center;
    width: 1300px;
    /* background-color: rgb(178, 160, 221); */
    column-gap: 15%;
    letter-spacing: 1px;
    /* border: 2px solid lightgray; */
    margin: 10px 10px 10px 10px;
    margin-top: 50px;
    font-size: 25px;
  }
  
  .about_section2 {
    /* background-color: rgb(178, 160, 221); */
    /* margin-top: 2px; */
    display: inline-flex;
    align-items: center;
    width: 1300px;
    column-gap: 15%;
    /* border: 2px solid lightgray; */
    margin: 10px 10px 10px 10px;
    /* margin-top: 20px; */
    letter-spacing: 1px;
    font-size: 25px;
  }
  
  .skill{
    display: inline-block;
     height:100px;
  
  }
  .skill #skill-text{
    font-size: 25px;
    margin-left: 10px;
  }
  
  .skill #skill-1,#skill-2,#skill-3,#skill-4{
    height:30px;
    width: 400px;
    gap: 50%;
    margin-right: 300px;
    font-size: 30px;
    text-transform: capitalize;
  }
  
  
  
  
  .achivement input {
    height: 20px;
    width: 280px;
  }
  
  .achivement .titel,
  .achivement .description {
    font-size: 30px;
    letter-spacing: 1px;
  }
  
  .achivement input {
    height: 40px;
    font-size: 25px;
    
  }
  
  #summary {
    font-size: 25px;
    width: 400px;
  }
  
  .achivement textarea {
    font-size: 25px;
    width: 400px;
  }
  
  .achivement {
    display: inline-flex;
    gap: 40%;
    margin-left: 10px;
  }
  
  #achivement-header {
    display: block;
    background-color: black;
    margin: 10px 0px 10px 0px;
    color: white;
    height: 40px;
    font-size: 25px;
    padding-top: 10px;
    padding-left: 5px;
    margin: 30px 5px 30px 5px;
    text-align: center;
  }
  
  /* below code is for the education  */
  
  .education-header {
    display: block;
    background-color: black;
    margin: 10px 0px 10px 0px;
    color: white;
    height: 40px;
    font-size: 25px;
    padding-top: 10px;
    padding-left: 5px;
    margin: 30px 5px 30px 5px;
    text-align: center;
  }
  
  #exprience-header {
    display: block;
    background-color: black;
    margin: 10px 0px 10px 0px;
    color: white;
    height: 40px;
    font-size: 25px;
    padding-top: 15px;
    padding-left: 5px;
    margin: 30px 5px 10px 5px;
    text-align: center;
    margin-top: 50px;
  }
  
  .education-row1 {
    display: flex;
    letter-spacing: 1px;
    gap: 20%;
    margin-bottom: 25px;
    font-size: 20px;
  }
  
  .education-row2 {
    display: flex;
    letter-spacing: 1px;
    margin-bottom: 25px;
    gap: 10%;
    margin-bottom: 25px;
  
    font-size: 20px;
  }
  
  
  .project1 {
    display: inline-flex;
    letter-spacing: 1px;
    margin-bottom: 25px;
    gap: 10%;
    margin-bottom: 25px;
  
    font-size: 20px;
  }
  
  .project2 {
    display: inline-flex;
    letter-spacing: 1px;
    margin-bottom: 25px;
    gap: 10%;
    margin-bottom: 25px;
  
    font-size: 25px;
  }
  .project2 #start-date-project ,#end-date-project{
    font-size: 25px;
  }
  
  .project1 #project-name,#project-link,#project-description{
    font-size: 20px;
  }
  
  #education-school,#education-collage,#education-degree{
    margin-bottom: 10px;
    font-size: 20px;
  }
  #education-school-marks,#education-collage-marks,#education-degree-marks{
    margin-bottom: 10px;
    font-size: 20px;
  }
  
  .education-row1 input {
    width: 300px;
    height: 30px;
  }
  
  .education-row2 input {
    width: 300px;
    height: 30px;
  }
  .education-row1 {
    margin-top: 5px;
  }
  
  
  .education-row2 #education-description input {
    padding-right: -50px;
  }
  
  /* //start and end date of the school */
  
  
  .experience-row2{
    display: flex;
    letter-spacing: 1px;
    margin-bottom: 25px;
    gap: 20%;
  margin-bottom: 25px;
  
  }
  
  
  
  .experience-row2 input{
    font-size: 23px;
    width: 280px;
    height: 30px;
    margin-left: 10PX;
  
  }
  
  .experience-row2 #experience-end-date input
  { 
      margin-right: 50px;
      font-size: 23px;
      
  }
  
  
  .experience-row2 #experience-description
  {
  display: hidden;
  }
  
  
  /* code for the genrate button */
  
  #creat-cv1 {
    display: inline-flex;
    margin-top: 250px;
    background-color: rgb(198, 198, 231);
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 300px;
    margin-left: 500px;
    font-size: 20px;
    margin-bottom: 50px;
    font-size: 50px;
  }
  #creat-cv1:hover{
  border:5px solid black;
  cursor: pointer;
  background-color: rgb(39, 76, 185);
  }
  
  
  .experience-row1{
    display:flex;
  }
  .experience-row2{
    display: flex;
  }
  

  .experience-row1{
    display: flex;
    letter-spacing: 1px;
    margin-bottom: 25px;
    gap: 20%;
  margin-bottom: 25px;
  
  }
  
  
  
  .experience-row1 input{
    font-size: 23px;
    width: 280px;
    height: 30px;
    margin-left: 10PX;
  
  }
  
  .experience-row1 #experience-end-date input
  { 
      margin-right: 50px;
      font-size: 23px;
      
  }
  
  
  .experience-row2 #experience-description
  {
  display: hidden;
  }
  
  .creat-cv {
    /* background-color: rgb(178, 160, 221); */
    /* margin-top: 2px; */
    display: inline-flex;
    align-items: center;
    width: 1300px;
    column-gap: 15%;
    /* border: 2px solid lightgray; */
    margin: 10px 10px 10px 10px;
    /* margin-top: 20px; */
    letter-spacing: 1px;
    font-size: 25px;
  }














  /* below code is for the prject details */

  
  .project-header {
    display: block;
    background-color: black;
    margin: 10px 0px 10px 0px;
    color: white;
    height: 40px;
    font-size: 25px;
    padding-top: 15px;
    padding-left: 5px;
    margin: 0px 5px 10px 5px;
    text-align: center;
  }

  
    .project{
      display:inline-flex;
      letter-spacing: 1px;
      gap: 20%;
  margin-bottom: 25px;
  margin-top: 30px;
   
  }
  
  .project input{
      width: 300px;
      height: 30px;
  font-size: 30px;
    } 
  
  
  .project{
      letter-spacing: 1px;
      margin-bottom: 25px;
      
     margin-bottom: 25px;
     font-size: 30px;
  } 


