/* #colore1{
  height: 300px;
  width: 200px;
  background-color: black;
} */
#red,#reset,#green,#yellow,#pink,#violet{
 border-radius: 50%;
  height: 100px;
  width: 100px;
  margin-top: 25px;
  margin-left: 5px;
}

#red1,#reset1,#green1,#yellow1,#pink1,#violet1{
  border-radius: 50%;
   height: 100px;
   width: 100px;
   margin-top: 25px;
   margin-left: 5px;
 }
 
 #red2,#reset2,#green2,#yellow2,#pink2,#violet2{
  border-radius: 50%;
   height: 100px;
   width: 100px;
   margin-top: 25px;
   margin-left: 5px;
 }
 
#reset{
  background-color: rgb(194, 250, 241);
  
}

#reset:hover{
  border: 5px solid black;

}

/* second */
 

#reset1{
  background-color: rgb(194, 250, 241);
  
}

#reset1:hover{
  border: 5px solid black;

}
/* third */

#reset2{
  background-color: rgb(238, 248, 247);
  
}

#reset2:hover{
  border: 5px solid black;

}




#red{
  background-color: red;
}

#red:hover{
  border: 5px solid black;
}


/* second */

#red1{
  background-color: red;
}

#red1:hover{
border: 5px solid black;
}
/* third */

#red2{
  background-color: red;
}

#red2:hover{
  border: 5px solid black;
}



#green{
  background-color: green;
}

#green:hover{
  border: 5px solid black;
  }

/* second */
  

#green1{
  background-color: green;
}

#green1:hover{
  border: 5px solid black;
  }

  /* third */
  
  
#green2{
  background-color: green;
}

#green2:hover{
  border: 5px solid black;
  }



#yellow{
  background-color: yellow;
}
#yellow:hover{
  border: 5px solid black;
  }
  /* second */


  #yellow1{
    background-color: yellow;
  }
  #yellow1:hover{
    border: 5px solid black;
    }

/* third */


#yellow2{
  background-color: yellow;
}
#yellow2:hover{
  border: 5px solid black;
  }
  




#pink{
  background-color: pink;
}

#pink:hover{
  border: 5px solid black;

}
/* second */

#pink1{
  background-color: pink;
}

#pink1:hover{
  border: 5px solid black;

}
/* third */

#pink2{
  background-color: pink;
}

#pink2:hover{
  border: 5px solid black;

}



#violet{
  background-color: violet;
}

#violet:hover{
  border: 5px solid black;

}
/* second */


#violet1{
  background-color: violet;
}

#violet1:hover{
  border: 5px solid black;

}

/* third */


#violet2{
  background-color: violet;
}

#violet2:hover{
  border: 5px solid black;

}


.bottom_bar
{

  position:fixed;
  font-size: 20px;
  height: 150px;
  background-color: rgb(169, 240, 137);
  margin-bottom: 180px;
  width: 100%;
  z-index: 9999;
  bottom: 10px;
}

.bottom_bar1
{

  position:fixed;
  font-size: 20px;
  height: 150px;
  background-color: rgb(169, 240, 137);
  margin-bottom: 30px;
  width: 100%;
  z-index: 9999;
  bottom: 10px;
}


.bottom_bar2
{

  position:fixed;
  font-size: 20px;
  height: 150px;
  background-color: rgb(169, 240, 137);
  margin-bottom: 330px;
  width: 100%;
  z-index: 9999;
  bottom: 10px;
}


body{
    background-color: rgb(255, 255, 255);
  
}
.resume-form{
  height: 2000px;

}
#designation{
  text-transform: capitalize;
}
.main-board{
 display: flex;
  background-color: rgb(194, 250, 241);
  border:15px solid white;
  margin:40px;
  margin-top: 70px;
  margin-left: 60px;
  height: 400px;
  position: absolute;
  z-index: 3;
  width: 1700px;
}


#text-tag{
    text-align: left;
    display: block;
    margin-top: 60px;
  margin-left: 20px;
  margin-left: 190px;
}

#image-tag{
    border-radius: 90%;
    height: 250px;
    width: 250px;
    margin:  30px;
    border: 6px solid rgb(255, 255, 255);
   background-color: hsl(0, 0%, 100%);
margin-left: 60px;

}


#fullname{
    font-size: 60px;
    margin-bottom: 10px;
}

#gmail,#mobile-no,#address,#designation,#linkedin-profile-link,#gender{
    font-size: 25px;
    margin-bottom: 10px;
}

.skill-class
{
 
   background-color: rgb(81, 81, 90);
    height: 1000px;
    width: 500px;
    position: absolute;
    z-index: 3;
   padding-top: 550px;  
   padding-left:100px ;
   font-size: 40px;

}
#skill2{
  text-transform: capitalize;
}

#skill-heading{
 font-size: 40px;
margin-bottom: 20px;
}

#skill1,#skill2,#skill3,#skill4 {
    margin-bottom: 20px;
    color: rgb(226, 215, 215);
    text-transform: capitalize;
    font-size: 30px;
}

.education{
    color: black;
    background-color:white;
  padding-top: 550px;

}

.remain-part{
    position: absolute;
}
#Xth,#xiith{
    padding-left: 700px;
    font-size: 25px; 
  font-weight: bold;
  padding-bottom: 10px;
}

#degree
{
    padding-left: 700px;
    font-size: 25px; 
  font-weight: bold;
   
}
#summary{
    
    padding-left: 700px;
    font-size: 25px; 
   margin-top: 0px;
}

#education-header{
    font-size: 40px;
   display:inline-table;
  padding-bottom: 10px;
  background-color: rgb(154, 189, 235);
  margin-left: 700px;
 margin-bottom: 40px;
 padding-top: 5px;

}

#project-header{
    font-size: 40px;
   display:inline-table;
  padding-bottom: 10px;
  background-color: rgb(154, 189, 235);
  margin-left: 700px;
 margin-bottom: 40px;
 padding-top: 5px;
  position: absolute;
margin-top: 20px;

}
#project-name{
 
    padding-top: 80px;
    font-size: 30px;
    margin-left: 700px;
}

#print-button{
background-color: rgb(227, 227, 245);
height: 100px;
width: 300px;
font-size: 20px;
margin-left: 800px;
color: black;
margin-bottom: 700px;
margin-top: 40px;
}
#print-button:hover{
  border:5px solid black;
  cursor: pointer;
  background-color: rgb(48, 55, 244);
  }

  
